$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-bold: 600;
$font-weight-bolder: 700;

$h1-font-size: 64px;
$h1-line-height: 76px;
$h1-color: #000336;

$h3-font-size: 35px;
$h3-line-height: 35px;
$h3-color: #000339;

$link-color: #0689FF;

$header-bg-color : #E6F0FF;
$header-font-size: 18px;

$navbar-font-size: 14px;
$navbar-line-height: 21px;
$navbar-li-color: #4F5361;
$button-bg-color: #0F1B4C;

$header-welcome-line-height: 27px;
$header-welcome-color: #687690;
$header-text-line-height: 32px;
$header-text-color: #5A6473;

$rating-line-height: 20px;
$rating-font-size: 16px;
$rating-color: #7D8589;
$rating-logo-height: 24px;
$rating-stars-height: 20px;

$how-it-works-line-height: 30px;
$how-it-works-font-size: 16px;
$how-it-works-color: #5A6473;

$guides-line-height: 22px;
$guides-font-size: 20px;
$guides-color: #3B3C45;

$guides-link-line-height: 21px;
$guides-link-font-size: 14px;

$properties-bg-color: #F5FAFE;

$featured-font-size: 16px;
$featured-line-height: 30px;
$featured-color: #5A6473;

$featured-link-line-height: 27px;
$featured-link-font-size: 18px;

$cards-line-height: 21px;
$cards-font-size: 14px;
$cards-color: #A3A6AB;

$cards-price-line-height: 20px;
$cards-price-font-size: 20px;

$cards-info-line-height: 14px;
$cards-info-color: #4D4D52;

$feature2-h2-line-height: 64px;
$feature2-h2-font-size: 64px;

$feature2-users-line-height: 18px;
$feature2-users-font-size: 12px;
$feature2-users-color: #A7A7A7;

$feature2-user-number-line-height: 26px;
$feature2-user-number-font-size: 26px;

$feature2-numbers-line-height: 27px;
$feature2-numbers-font-size: 18px;
$feature2-numbers-color: #7B8087;

$blue-div-bg-color: #063183;

$blue-div-line-height: 30px;
$blue-div-font-size: 16px;

$blue-div-button-color: #002366;

$footer-line-height: 24px;
$footer-font-size: 16px;
$footer-color: #7A7A7E;

$footer-first-li-font-size: 20px;
$footer-first-li-color: #1C1C1D;

$footer-copyright-line-height: 21px;
$footer-copyright-font-size: 14px;
$footer-copyright-color: #C2C2C2;
